<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <p style="color: red;"> Database successfully reset</p>
    <p>Proceed to <a href="/cmt/seat/reserve" style="color: blue;">Reservations</a></p>
    <p>Proceed to <a href="/cmt/seat/reset" style="color: blue;">Reset</a></p>
  </div>

</body>
</html>