<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/cmt/seat/reserve" method="POST">
      <button>Reserve a seat</button>
    </form>
  </div>

</body>
</html>